# ignore etc dir
etc/

# ignore cache
__pycache__/

# ignore ipynb
.ipynb_checkpoints/

# ignore pretrained models
Models/

# ignore data downloads
cifar-10-batches-py/
data/
datasets/

# ignore credentials
creds.txt

# don't push models
*.model

# Rproj files
.Rproj.user/
*.Rproj
.Rproj.user
